h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color:#04146c;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 1500;
    font-size: 66pt;
    color:#04146c;
    text-align: center;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color:#04146c;
    text-align: center;
}
.contenedorDeImagen{
    text-align: center;
}
img{
    width: 600px;
    border: solid 1px blue;

}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color:#04146c;
    text-align: center;
    background-color:#edf7ff;
}