*{
    margin: 0;
}
.contenedorImagen {
    position: relative;
    margin-left:-100px;
    margin-top: -200px;

}

.imagenFondo {
    transform: rotate(90deg);
    margin-left:875px;
}

.imagenCelu {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width:165px;
    height:200px;
    margin-left:600px;
    margin-top: 165px;
}

.texto {
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 59pt;
    font-weight: 200;
    color: #0a2ff1;
}

.subMenu {

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23pt;
    font-weight: 200;
    color: #0a2ff1;
    min-height: 200px;

}

span {
    background-color: #3ffff3;
}